<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=DESKTOP-MSI0715\SQLEXPRESS;
                           Initial Catalog=AfiErpDb;
                           Integrated Security=True;
                           Connect Timeout=30;
                           Encrypt=False;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>